@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <h3>Mevcut Hastalarım</h3>
    <table>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Bölüm</th>
            <th>Hasta Öyküsü</th>
            <th>Teşhis</th>
            <th>Tedavi</th>
            <th>İlaçlar</th>
            <th></th>
        </tr>

        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                    <tr>
                        <td>@Data.Ad</td>
                        <td>@Data.Soyad</td>
                        <td>@Data.Bolum</td>
                        <td>@Data.HastaOykusu</td>
                        <td>@Data.Teshis</td>
                        <td>@Data.Tedavi</td>
                        <td>@Data.Ilaclar</td>
                        <td>
                            <a asp-action="KonsulteEt" asp-route-id="@Data.Id"><button class="btn btn-info btn-block" type="button">Konsulte Et</button></a>
                        </td>
                    </tr>
                }

            }
        }

    </table>


</div>
